{%extends 'index.html'%}
{%block content%}
<div class="row col-lg-5 col-12 no-gutters">
  <div class="col-lg-2 col-12 col-form-label pr-lg-4 text-right">타입</div>
  <div class="row col-lg-10 col-12 no-gutters type-wrp" id="typechform">

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc0" value="노말">
        <i></i>
        <span style="background-color:#92999f"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-31-00-44246-1600155060.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_13-01-36-16035-1599278496.png" alt="">노말</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc1" value="불꽃">
        <i></i>
        <span style="background-color:#efa061"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-26-46070-1600155146.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_13-05-02-82946-1599278702.png" alt="">불꽃</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc2" value="물">
        <i></i>
        <span style="background-color:#608fcf"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-06-11404-1600155126.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_13-05-37-52039-1599278737.png" alt="">물</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc3" value="풀">
        <i></i>
        <span style="background-color:#7ab766"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-33-23-96585-1600155203.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_13-05-59-52868-1599278759.png" alt="">풀</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc4" value="전기">
        <i></i>
        <span style="background-color:#edd259"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-33-56-24195-1600155236.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-04-29-38571-1599307469.png" alt="">전기</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc5" value="얼음">
        <i></i>
        <span style="background-color:#8dccc0"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-43-75350-1600155163.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-05-08-37234-1599307508.png" alt="">얼음</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc6" value="격투">
        <i></i>
        <span style="background-color:#bc4b6a"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-30-54-93594-1600155054.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-07-30-25049-1599307650.png" alt="">격투</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc7" value="독">
        <i></i>
        <span style="background-color:#a16ec2"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-31-04-13797-1600155064.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-07-56-98415-1599307676.png" alt="">독</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc8" value="땅">
        <i></i>
        <span style="background-color:#ca7c50"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-31-48-89703-1600155108.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-08-45-76848-1599307725.png" alt="">땅</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc9" value="비행">
        <i></i>
        <span style="background-color:#95a8d9"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-32-51636-1600155152.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-09-21-65337-1599307761.png" alt="">비행</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc10" value="에스퍼">
        <i></i>
        <span style="background-color:#e57879"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-50-69336-1600155170.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-09-40-58655-1599307780.png" alt="">에스퍼</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc11" value="벌레">
        <i></i>
        <span style="background-color:#9bbf48"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-19-85302-1600155139.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-10-03-16670-1599307803.png" alt="">벌레</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc12" value="바위">
        <i></i>
        <span style="background-color:#c3b78f"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-12-15595-1600155132.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-05-26-54721-1599307526.png" alt="">바위</span>
      </label>
    </div>

    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc13" value="고스트">
        <i></i>
        <span style="background-color:#5769a7"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-30-57-35870-1600155057.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-05-42-65887-1599307542.png" alt="">고스트</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc14" value="드래곤">
        <i></i>
        <span style="background-color:#336cbe"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-02-47456-1600155122.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-05-57-97530-1599307557.png" alt="">드래곤</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc15" value="악">
        <i></i>
        <span style="background-color:#585365"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-32-38-19380-1600155158.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-06-19-16378-1599307579.png" alt="">악</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc16" value="강철">
        <i></i>
        <span style="background-color:#678d9e"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-30-51-10728-1600155051.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-06-33-91927-1599307593.png" alt="">강철</span>
      </label>
    </div>


    <div class="col-lg-25 col-3">
      <label class="btn-type btn-nomal">
        <input type="checkbox" class="sr-only" name="typetextc[]" id="typetextc17" value="페어리">
        <i></i>
        <span style="background-color:#dc94e1"><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-15_16-33-52-97374-1600155232.png" alt=""></span>
        <span><img src="https://data1.pokemonkorea.co.kr/newdata/2020/09/2020-09-05_21-07-05-51805-1599307625.png" alt="">페어리</span>
      </label>
    </div>
  </div>
</div>
{%endblock%}